# Virtual Environment
.venv/

# Dataset (too large for GitHub)
dataset/

# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Generated audio files
backend/audio/

# VS Code
.vscode/

# DeepFace model cache
.deepface/

# OS
.DS_Store
Thumbs.db
